APP_NAME=CEST Placas Backend
APP_VERSION=0.1.0
APP_ENV=local
DEBUG=true
API_V1_PREFIX=/api/v1

DATABASE_URL=mysql+pymysql://cest_user:cest_password@localhost:3306/cest_placas?charset=utf8mb4
SQL_ECHO=false
MYSQL_POOL_PRE_PING=true
MYSQL_POOL_RECYCLE=3600

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me

